<div class="newsletter ml-subscribe-form-14181413">
  <div class="row-form">
    <h4>Join Our Mailing List!</h4>
    <p>Get weekly content focused on training effectiveness, gamified learning, and ecological dynamics.</p>

    <form class="newsletter-form" action="https://assets.mailerlite.com/jsonp/917164/forms/119160109850952890/subscribe" method="post" target="_blank">
      <input type="email" name="fields[email]" placeholder="Email" autocomplete="email" aria-label="Email" required>
      <input type="text" name="fields[name]" placeholder="First Name" autocomplete="given-name" aria-label="First Name" required>
      <input type="hidden" name="ml-submit" value="1">
      <input type="hidden" name="anticsrf" value="true">
      <button type="submit">Subscribe</button>
    </form>
  </div>

  <div class="row-success" style="display: none">
    <h4>Thank you!</h4>
    <p>Please check your email and confirm your subscription.</p>
  </div>
</div>

<script>
  function ml_webform_success_14181413() {
    var $ = ml_jQuery || jQuery;
    $('.ml-subscribe-form-14181413 .row-success').show();
    $('.ml-subscribe-form-14181413 .row-form').hide();
  }
</script>
<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v2d8fb22bb5b3677f161552cd9e774127" type="text/javascript"></script>
<script>
  fetch("https://assets.mailerlite.com/jsonp/917164/forms/119160109850952890/takel")
</script>
